#alert-container {
    position: fixed;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
  }
  
  #alert-container .alert {
      position: relative;
      /* border-radius: 8px; */
      padding: 12px;
      min-width: 250px;
      /* border: 1px solid #eee;
      box-shadow: 1px 1px 12px #eee; */
  }
  
  #alert-container .alert.alert-success {
      background: #d6fff2;
      color: #006400;
  }
  
  #alert-container .alert.alert-danger {
      background: #ffdfd6;
      color:#8B0000
  }
  
  #alert-container .alert.alert-warning {
      background: #fff6d6;
      color: #FFD700;
  }
  
  #alert-container .alert.alert-info {
      background: #d6fbff;
      color:#00008b;
  }
  
  .blue{
      color:#00008b; 
  }
  
  #alert-container .alert .close {
      position: absolute;
      right: 8px;
      top: 4px;
  }
  
  .table{
    font-size: 16px;
  }
  
  i{
    cursor: pointer;
  }

  #page-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1500;
    background: #ffffffe0;
    display: none;
}

body.loading #page-loader {
    display: flex;
}
